@import url("//fonts.googleapis.com/css?family=Kavoon");
@import url("//fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,300italic,400italic,600italic,700italic&subset=latin,latin-ext");
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700");
body {
  color: #603e66;
  background-color: #f0efed;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a {
  text-decoration: none;
  color: #1ea790;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
body a:hover {
  color: #25d1b4;
}
.demo h1 {
  font-family: "Kavoon", Georgia, serif;
  font-size: 7em;
  color: #603e66;
  text-shadow: 5px 5px 0px 0px #25d1b4;
}
.demo h2,
.demo h3 {
  font-weight: 300;
  font-size: 1.8em;
  line-height: 1.6em;
}
.demo h1,
.demo h2 {
  margin: 0;
}
.demo .block {
  background-color: #ddd9d1;
  padding: 35px;
  border-radius: 5px;
  text-align: center;
  font-family: "Inconsolata", monospaced;
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.demo .block:hover {
  background-color: #b2ebe2;
  cursor: pointer;
}
.demo .size {
  color: #1ea790;
}
.demo button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #603e66;
  color: #fff;
  text-shadow: 1px 1px 2px #3a253d;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 600;
}
