@import url("//fonts.googleapis.com/css?family=Kavoon");
@import url("http://fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,800");
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700");
body {
  color: #603e66;
  background-color: #f0efed;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a {
  text-decoration: none;
  color: #33c5ae;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
body a:hover {
  color: #70dac9;
}
.demo h1 {
  font-family: "Kavoon", Georgia, serif;
  font-size: 7em;
  color: #603e66;
  text-shadow: 6px 6px 0px #81decf;
  margin: 0.4em 0 0 0;
}
@media screen and (max-width: 640px) {
  .demo h1 {
    font-size: 4em;
  }
}
.demo h2 {
  margin: 0.3em 0;
  font-weight: 300;
  font-size: 1.8em;
}
.demo h3 {
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.3em;
  margin: 3.2em 0 0.8em 0;
}
.demo h2,
.demo h3 {
  line-height: 1.6em;
}
@media screen and (max-width: 640px) {
  .demo h2,
  .demo h3 {
    font-weight: 400;
    font-size: 1.2em;
  }
}
.demo .block {
  background-color: #ddd9d1;
  padding: 35px;
  border-radius: 5px;
  text-align: center;
  font-family: "Inconsolata", monospaced;
  font-size: 1.2em;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.demo .block:hover {
  background-color: #b2ebe2;
  cursor: pointer;
}
.demo .size {
  color: #2ba491;
}
.demo .intro {
  background-color: #d1bed5;
}
.demo .hide-on-desktop .block {
  background-color: #b2ebe2;
}
.demo .hide-on-desktop .block:hover {
  background-color: #d1bed5;
}
.demo button {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #603e66;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.85em;
  font-weight: 600;
}
