@import url("//fonts.googleapis.com/css?family=Luckiest+Guy");
@import url("//fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,800");
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700");
@import url("//fonts.googleapis.com/css?family=Merriweather:400,400italic,300italic,300,700,700italic");
body {
  color: #43423f;
  font-family: "Open Sans", Helvetica, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body a {
  color: #df4b4b;
  border-bottom: 1px solid #df4b4b;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
body a:hover {
  color: #2c81d1;
  border-bottom: 1px solid #2c81d1;
}
code {
  padding: 2px 3px;
  color: #43423f;
  background-color: #f6f4ee;
  border: 1px solid #d1cfca;
  border-radius: 2px;
  font-family: 'Inconsolata', monospaced;
  font-size: 0.95em;
}
.button,
.btn-light-blue,
.btn-light-red,
.btn-blue,
.btn-red,
.btn-small {
  padding: 0.9em 1em;
  border-radius: 4px;
  border: 1px solid transparent;
  background-color: #e7e5df;
  color: #878682;
  font-size: 0.8em;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.button:hover,
.btn-light-blue:hover,
.btn-light-red:hover,
.btn-blue:hover,
.btn-red:hover,
.btn-small:hover {
  box-shadow: 0px 4px 4px -4px rgba(116,114,109,0.4);
  border: 1px solid #d1cfca;
  color: #656461;
  background-color: #d9d7d1;
}
.button:active,
.btn-light-blue:active,
.btn-light-red:active,
.btn-blue:active,
.btn-red:active,
.btn-small:active {
  box-shadow: inset 0px 0px 3px 2px #cbc9c4;
}
@media screen and (max-width: 640px) {
  .button,
  .btn-light-blue,
  .btn-light-red,
  .btn-blue,
  .btn-red,
  .btn-small,
.btn-light-blue,
.btn-light-red,
.btn-blue,
.btn-red,
.btn-small {
    display: block;
  }
}
.btn-light-blue {
  background-color: #cae0f4;
  color: #2f5a82;
}
.btn-light-blue:hover {
  background-color: #a7cbec;
  border: 1px solid #84b6e5;
  color: #2f5a82;
}
.btn-light-red {
  background-color: #f9dbdb;
  color: #c84343;
}
.btn-light-red:hover {
  background-color: #f5c9c9;
  border: 1px solid #ec9393;
  color: #c84343;
}
.btn-blue {
  background-color: #4f97da;
  color: #fff;
}
.btn-blue:hover {
  background-color: #61a1de;
  border: 1px solid #297ac4;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(79,151,218,0.8);
}
.btn-red {
  background-color: #df4b4b;
  color: #fff;
}
.btn-red:hover {
  background-color: #e25d5d;
  border: 1px solid #ca2424;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(223,75,75,0.8);
}
.btn-small {
  padding: 0.5em 0.8em;
  font-size: 0.75em;
}
.block {
  background-color: #f6f4ee;
  padding: 35px;
  outline: 1px dashed #d1cfca;
  font-family: "Inconsolata", monospaced;
  font-size: 1em;
  text-align: center;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.block:hover {
  background-color: #cae0f4;
  outline: 1px dashed #4f97da;
  cursor: pointer;
}
.block .extra-info {
  color: #878682;
}
@media screen and (max-width: 640px) {
  body > .row {
    padding: 0 1rem;
  }
}
.title-chapter,
.subtitle-chapter {
  text-align: center;
}
.title-chapter {
  margin: 1.5em 0 0 0;
  font-size: 2.4em;
  font-weight: 300;
}
@media screen and (max-width: 640px) {
  .title-chapter {
    font-size: 2em;
  }
}
.subtitle-chapter {
  font-size: 1.1em;
  font-weight: 400;
  text-transform: uppercase;
}
.description {
  margin: 2em 0;
  font-family: 'Merriweather', Georgia, serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.9em;
}
@media screen and (max-width: 640px) {
  .description {
    font-size: 1em;
  }
}
.description a {
  font-weight: 700;
}
.intro {
  background-color: #f6f4ee;
}
.intro img {
  max-width: 100%;
  margin: 3em 0 0 0;
}
.intro h1 {
  margin: 0.5em 0 0 0;
  font-family: 'Luckiest Guy', Georgia, serif;
  font-size: 6.5em;
  font-weight: normal;
}
@media screen and (max-width: 640px) {
  .intro h1 {
    margin: 0.8em 0 0 0;
    font-size: 4em;
  }
}
.intro h2 {
  margin: 0.5em 0 0 0;
  font-size: 1.5em;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .intro h2 {
    padding: 0 1.2em;
    line-height: 1.6em;
    font-size: 1em;
  }
}
.intro p {
  color: #918f89;
  font-size: 1.1em;
  font-weight: 400;
}
@media screen and (max-width: 640px) {
  .intro p {
    padding: 0 1em;
    font-size: 0.9em;
  }
}
.intro .menu {
  margin: 2em 0 3em 0;
}
@media screen and (max-width: 640px) {
  .intro .menu {
    margin: 0;
  }
}
@media screen and (max-width: 640px) {
  .intro .menu .button {
    margin: 0 0 0.7em 0;
  }
}
@media screen and (max-width: 640px) {
  .about-waffle .button {
    margin-bottom: 0.7em;
  }
}
.tags {
  margin: 1em 0 2em 0;
}
.cannibal-dishes {
  position: relative;
}
.cannibal-dishes .img-container a {
  opacity: 0.5;
  border-bottom: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.cannibal-dishes .img-container a:hover {
  opacity: 1;
}
.cannibal-dishes .img-container a img {
  max-width: 100%;
}
.cannibal-dishes .navigation {
  position: absolute;
  z-index: 10;
  top: 38%;
  pointer-events: none;
}
.cannibal-dishes .navigation .nav .fa {
  color: #43423f;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 2px 4px rgba(67,66,63,0.3);
  opacity: 0.9;
}
.cannibal-dishes .navigation .nav.left {
  margin-left: -0.5em;
}
.cannibal-dishes .navigation .nav.right {
  margin-right: -0.5em;
}
.fork {
  background-color: #f6f4ee;
}
@media screen and (max-width: 640px) {
  .fork .unit {
    padding: 0 1em;
  }
}
.fork .title {
  margin: 1em 0 0 0;
  font-family: 'Luckiest Guy', Georgia, serif;
  font-weight: normal;
  font-size: 6em;
}
@media screen and (max-width: 640px) {
  .fork .title {
    font-size: 4em;
  }
}
.fork .description {
  margin: 0;
}
.fork .get-waffle {
  margin: 1.6em 0 5em 0;
}
@media screen and (max-width: 640px) {
  .fork .get-waffle {
    margin: 1.6em 0 1em 0;
  }
}
@media screen and (max-width: 640px) {
  .fork .button {
    margin-bottom: 0.7em;
  }
}
footer {
  background-color: #df4b4b;
}
footer .content {
  padding: 3rem 0;
}
footer .content p {
  margin: 0;
  color: #fff;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 0.03em;
}
footer .content p a {
  color: #fff;
  border-bottom: 1px solid #e77878;
}
footer .content p a:hover {
  border-bottom: 1px solid #fff;
}
@media screen and (max-width: 640px) {
  footer .content p {
    padding: 0 1em;
    font-weight: 600;
    text-align: center;
  }
}
@media screen and (max-width: 640px) {
  footer .content {
    padding: 2rem 0;
  }
}
