body {
  margin: 0;
}
@media screen and (min-width: 1800px) {
  body.wider .row {
    max-width: 1600px;
  }
}
.row,
.unit {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.row {
  max-width: 1180px;
  margin: 0 auto;
  font-size: 0;
}
.row.no-wrap {
  max-width: 100% !important;
}
.unit {
  display: inline-block;
  border: 10px solid transparent;
  vertical-align: top;
  font-size: 16px;
}
@media screen and (max-width: 800px) {
  .unit {
    border: 7px solid transparent;
  }
}
@media screen and (max-width: 640px) {
  .unit {
    border: 5px solid transparent;
  }
}
.unit {
  width: 100%;
}
.u-16 {
  width: 16.666666666666668%;
}
.u-25 {
  width: 25%;
}
.u-33 {
  width: 33.333333333333336%;
}
.u-50 {
  width: 50%;
}
.u-66 {
  width: 66.66666666666667%;
}
.u-75 {
  width: 75%;
}
@media screen and (max-width: 800px) {
  .row .unit.u-16,
  .row .unit.u-25,
  .row .unit.u-33,
  .row .unit.u-50,
  .row .unit.u-66,
  .row .unit.u-75 {
    border: 7px solid transparent;
    width: 100% !important;
  }
}
@media screen and (max-width: 640px) {
  .row .unit.u-16,
  .row .unit.u-25,
  .row .unit.u-33,
  .row .unit.u-50,
  .row .unit.u-66,
  .row .unit.u-75 {
    border: 5px solid transparent;
  }
}
.row.single-column .unit.u-16,
.row.single-column .unit.u-25,
.row.single-column .unit.u-33,
.row.single-column .unit.u-50,
.row.single-column .unit.u-66,
.row.single-column .unit.u-75 {
  display: block;
  margin: 0 auto;
}
@media screen and (max-width: 800px) {
  .row.single-column .unit.u-16,
  .row.single-column .unit.u-25,
  .row.single-column .unit.u-33,
  .row.single-column .unit.u-50,
  .row.single-column .unit.u-66,
  .row.single-column .unit.u-75 {
    width: 90% !important;
  }
}
@media screen and (max-width: 640px) {
  .row.single-column .unit.u-16,
  .row.single-column .unit.u-25,
  .row.single-column .unit.u-33,
  .row.single-column .unit.u-50,
  .row.single-column .unit.u-66,
  .row.single-column .unit.u-75 {
    width: 100% !important;
  }
}
.split3 .unit {
  width: 33.333333333333336%;
}
@media screen and (max-width: 800px) {
  .split3 .unit {
    width: 50%;
    border: 7px solid transparent;
  }
}
.split4 .unit {
  width: 25%;
}
@media screen and (max-width: 800px) {
  .split4 .unit {
    width: 33.333333333333336%;
    border: 7px solid transparent;
  }
}
.split5 .unit {
  width: 20%;
}
@media screen and (max-width: 1024px) {
  .split5 .unit {
    width: 25%;
  }
}
@media screen and (max-width: 800px) {
  .split5 .unit {
    width: 33.333333333333336%;
    border: 7px solid transparent;
  }
}
.split6 .unit {
  width: 16.666666666666668%;
}
@media screen and (max-width: 1024px) {
  .split6 .unit {
    width: 20%;
  }
}
@media screen and (max-width: 800px) {
  .split6 .unit {
    width: 33.333333333333336%;
    border: 7px solid transparent;
  }
}
@media screen and (max-width: 640px) {
  .split3 .unit,
  .split4 .unit,
  .split5 .unit,
  .split6 .unit {
    width: 50% !important;
    border: 5px solid transparent;
  }
}
@media screen and (max-width: 640px) {
  .split3.one-column-phones .unit,
  .split4.one-column-phones .unit,
  .split5.one-column-phones .unit,
  .split6.one-column-phones .unit {
    width: 100% !important;
    border: 5px solid transparent;
  }
}
.row.justify {
  text-align: justify;
}
.row.justify::after {
  content: '';
  width: 100%;
  display: inline-block;
}
.row.justify .unit {
  width: auto;
  vertical-align: baseline !important;
}
@media screen and (max-width: 640px) {
  .row.justify .unit {
    width: auto !important;
  }
}
.row.center {
  text-align: center;
}
.row .unit.nested {
  border: none !important;
}
.no-gutters .unit {
  border: none !important;
}
@media screen and (min-width: 960px) {
  .no-desktop {
    display: none !important;
  }
}
@media screen and (max-width: 640px) {
  .no-phone {
    display: none !important;
  }
}
@media screen and (max-width: 960px) {
  .only-desktop {
    display: none !important;
  }
}
@media screen and (min-width: 640px) {
  .only-phone {
    display: none !important;
  }
}
.reset-list,
.menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.menu-list li {
  display: inline-block;
}
