// Essential Mixins for Waffle
// Not necessary if you use Nib or Normalize.styl

// Applying a sane box model

// assumes use of vendor interpolation
// http://learnboost.github.com/stylus/docs/interpolation.html
box-sizing()
  vendor('box-sizing', arguments)



