// Essential Mixins for Waffle
// Not necessary if you use Nib or Normalize.styl

// Applying a sane box model

box-sizing()
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

transition()
    -webkit-transition arguments
    -moz-transition arguments
    -o-transition arguments
    transition arguments

animation()
    -webkit-animation arguments
    -moz-animation arguments
    -o-animation arguments
    animation arguments


