// Essential Mixins for Waffle
// Not necessary if you use Nib or Normalize.styl

box-sizing()
    // Applying a sane box model
    -webkit-box-sizing arguments
    -moz-box-sizing arguments
    box-sizing arguments

transition()
    -webkit-transition arguments
    transition arguments

animation()
    -webkit-animation arguments
    animation arguments


