//Variables

$type_size = 16px
$border_default = 10px
$border_tablet = 7px
$border_phone = 5px

$full = 100%

$width_layout = 1180px
$width_layout_wider = 1600px
$width_tablet_landscape = 1024px
$width_tablet_portrait = 800px
$width_phone = 640px

@import 'utils'
@import 'grid'