// Demo Page
// for Waffle
// a CSS inline-block framework

@import url("//fonts.googleapis.com/css?family=Kavoon")
@import url("//fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,800")
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700")

@import '../stylus/utils'

$color_bg = #F0EFED
$color_main = #3F3529
$color_two = #AEE4DC
$color_three = #DCBEDD
$color_blocks = #DDD9D1
$color_separators = #EDD796

body
    color $color_main
    background-color $color_bg
    font-family "Open Sans", Helvetica, sans-serif
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    a
        text-decoration none
        color darken($color_two, 50%)

        transition(color 0.5s ease)

        &:hover
            color darken($color_three, 30%)

.banner-top
    background-color $color_main
    width $full

    h1
        font-family "Kavoon", cursive
        font-weight 400
        font-size 7em
        color $color_bg

        margin 0.4em 0 0 0

        @media screen and (max-width: 640px)
            font-size 4em

    h2
        color $color_bg
        font-weight 300
        font-size 2em

        margin 0.5em 0 2em 0

        @media screen and (max-width: 640px)
            font-weight 400
            font-size 1.3em

        a
            color darken($color_two, 15%)

            &:hover
                color darken($color_three, 15%)

.menu-top
    background-color $color_two

    ul
        li
            font-weight 600
            text-transform uppercase
            padding 0.5em

            a
                padding 0.5em

                &:hover
                    background-color darken($color_two, 40%)
                    border-radius 3px
                    color white

.main-wrap
    @media screen and (max-width: 1024px)
        padding 0.85em

.demo

    h3
        font-weight 400
        font-size 1.3em
        text-transform uppercase

        margin 3.2em 0 0.8em 0

    h2,
    h3
        line-height 1.6em

        @media screen and (max-width: 640px)
            font-weight 400
            font-size 1.2em

    .block
        background-color $color_blocks
        padding 35px
        border-radius 5px

        font-family "Inconsolata", monospaced
        font-size 1.2em
        text-align center

        transition(all 0.5s ease)

        &:hover
            background-color $color_two
            cursor pointer

    .size
        color darken($color_two, 50%)

    .intro
        background-color $color_two

        &:hover
            background-color $color_separators

    button
        background-color $color_separators
        display inline-block
        padding 10px 20px
        border-radius 5px
        border none

        font-weight 400
        font-size 0.85em
        color lighten($color_main, 15%)
        text-transform uppercase
        cursor pointer

        &:hover
            background-color darken($color_separators, 10%)
            color $color_main

        .fa
            font-size 2em

    .button-green
        background-color $color_two
        color darken($color_two, 55%)

        &:hover
            background-color darken($color_two, 10%)
            color darken($color_two, 75%)

    .hide-on-tablets .block
        background-color $color_two

        &:hover
            background-color darken($color_two, 15%)

    .show-on-tablets .block

        &:hover
            background-color darken($color_blocks, 15%)

    .hide-on-mobiles .block
        background-color $color_separators

        &:hover
            background-color darken($color_separators, 15%)

    .show-on-mobiles .block
        background-color $color_three

        &:hover
            background-color darken($color_three, 15%)

footer
    margin 3em 0 0 0
    background-color $color_blocks

    ul
        li
            padding 0.2em
            font-weight 600
