// Demo Page
// for Waffle
// a CSS inline-block framework

@import url("//fonts.googleapis.com/css?family=Luckiest+Guy")
@import url("//fonts.googleapis.com/css?family=Open\+Sans:400,300,600,700,800")
@import url("//fonts.googleapis.com/css?family=Inconsolata:400,700")

@import '../stylus/utils'


// Primary Colors
$color_main = #43423F
$color_bg = #F6F4EE
$color_red = #DF4B4B
$color_blue = #4F97DA

// Secondary Colors
$color_secondary = lighten($color_main, 25%)
$color_bg_button = shade($color_bg, 6%)
$color_border_button = shade($color_bg, 15%)
$color_text_button = shade($color_bg, 45%)

// Rounded Corners
$rounded_corners = 4px

// Box Shadow Color
$box_shadow_color = #E5E2DA


body
    color $color_main
    font-family "Open Sans", Helvetica, sans-serif
    text-rendering optimizeLegibility
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

    a
        border-bottom 1px solid transparent
        color $color_red

        text-decoration none

        transition(all 0.3s ease)

        &:hover
            border-bottom 1px solid @color


// Button Styles
.button
    padding 0.9em 1em

    border-radius $rounded_corners
    border 1px solid transparent

    background-color $color_bg_button
    color $color_text_button

    font-size 0.8em
    font-weight 600
    text-transform uppercase
    letter-spacing 0.05em

    transition(all 0.3s ease)

    &:hover
        box-shadow 0px 4px 4px -4px $box_shadow_color
        border 1px solid $color_border_button

        color shade($color_text_button, 25%)
        background-color shade($color_bg_button, 6%)

    &:active
        box-shadow inset 0px 0px 3px 2px shade($color_bg_button, 12%)



// Blocks Styles

.block
    background-color $color_bg
    padding 35px

    outline 1px dashed $color_border_button

    font-family "Inconsolata", monospaced
    font-size 1em
    text-align center

    transition(all 0.5s ease)

    &:hover
        background-color $color_two
        cursor pointer

    .extra-info
        color $color_text_button

// Page Style

.intro
    background-color $color_bg

    img
        margin 3em 0 0 0

    h1
        margin 0.5em 0 0 0

        font-family 'Luckiest Guy', Georgia, serif
        font-size 6.5em
        font-weight normal

    h2
        margin 0.5em 0 0 0

        font-size 1.5em
        font-weight 400

    p
        color $color_secondary
        font-size 1.1em
        font-weight 400

    .menu
        margin 2em 0 3em 0

.title-chapter
.subtitle-chapter
    text-align center

.title-chapter
    font-size 2.4em
    font-weight 300

.subtitle-chapter
    font-size 1.1em
    font-weight 400
    text-transform uppercase

// Play with the Grid

// Justify

// Mixin for tags
tags(color = shade($color_blue, 30%), bg_color = lighten($color_blue, 70%))
    color color
    background-color bg_color

    padding 0.5em 0.8em
    border-radius 2px

    font-size 0.8em
    font-weight 600
    text-transform uppercase
    letter-spacing 0.05em

    &:hover
        cursor pointer

.tags
    .title-menu
        tags(shade($color_bg, 40%), shade($color_bg, 5%))

    .dish
        tags()

    .email
        tags(shade($color_red, 20%), lighten($color_red, 70%))


.cannibal-dishes
    position relative

    .img-container

        a
            opacity 0.5
            border-bottom none

            transition(all 0.3s ease)

            &:hover
                opacity 1

            img
                max-width 100%

    .navigation
        position absolute
        z-index 10
        top 38%

        pointer-events none

        .nav

            .fa
                color $color_main

                font-size 4em
                text-align center
                text-shadow 1px 2px 4px rgba($color_main, 0.3)

                opacity 0.9

        .nav.left
            margin-left -0.5em

        .nav.right
            margin-right -0.5em

// Thanks

.acknowledgements
    background-color $color_bg

    .title-thanks
        font-family 'Luckiest Guy', Georgia, serif
        font-weight normal
        font-size 6em

// Footer
footer
    background-color $color_red

    p
        padding 1em 0
        color $color_bg

        font-size 0.85em
        font-weight 600
